body{
    font-family: Arial, sans-serif;
    background-color: orangered;
}

h1{
    color: gray;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.card{
    border-radius: 10px;
    border-left-width: 5px;
}

#card1{
    border-left-color: darkgreen;
}

#card2{
    border-left-color: orangered;
}

#card3{
border-left-color: blue;
}

#card4{
    border-left-color: olive;
}

#card5{
    margin-top: 50px;
    
}