body {
  font-family: Arial, sans-serif;
  height: auto;
}

.logo {
  color: darkgreen;
  font-weight: bold;
  font-size: 30px;
}

span {
  color: orangered;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}


h2 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h5 {
  color: darkgreen;
  font-size: 25px;
  padding-left: 20px;
}

.offcanvas-body ul li {
  padding-left: 20px;
}

.offcanvas-body ul li a {
  text-decoration: none;
  font-weight: bold;
}

.offcanvas-body button {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

#container-fluid {
  background-color: goldenrod;
  background-image: url(../images/CORN.jpg);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 200px;
}

.card {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 30px;
}

#card5 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-text{
  font-size: large;
}

h3 {
  margin-top: 30px;
  font-weight: bold;
}

#button{
  margin-top: 10px;
  float: right;
  margin-right: 13px;
}

.form-label{
  font-size: 18px;
  padding-top: 5px;

}
button{
  float:right;
}

table{
  margin-top: 50px;
}

table tbody {
  font-weight: bold;
}
