body {
  width: 100%;
  height: 400px;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  min-height: auto;
}

.logo {
  color: darkgreen;
  font-weight: bold;
  font-size: 30px;
}

span {
  color: orangered;
}

.menu {
  float: left;
  height: 40px;
}

ul {
  float: left;
  display: flex;
}

ul li {
  margin-left: 70px;
  margin-top: 20px;
  font-size: 15px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-weight: bold;
  transition: 0.4s ease;
}

ul li a:hover {
  color: orangered;
}

.button {
  margin-right: 20px;
}

.header {
  font-size: 50px;
  font-weight: bold;
  border-top: 2px solid orangered;
  margin-bottom: 20px;
  padding-top: 8px;
}

.header-title {
  margin-bottom: 20px;
}

p {
  font-weight: bold;
}

form {
  border-bottom: 2px solid darkgreen;
  padding-bottom: 8px;
  font-weight: bold;
}

.form {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

span1 {
  color: darkgreen;
}

.container {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.content-header {
  font-size: 50px;
  font-weight: bold;
  margin-top: 100px;
  padding-left: 40%;
}

.wrapper {
  width: 100%;
}

.wrapper ul {
  margin-left: 100px;
}
.wrapper ul li i {
  margin-left: 50px;
  cursor: pointer;
}

.footer {
  color: black;
  height: 100px;
  margin-top: 150px;
  border-top: 2px solid orangered;
}

.footer-logo {
  padding-top: 15px;
  font-size: 30px;
  color: darkgreen;
  font-weight: bold;
}

.footer-menu ul li {
  margin-left: 70px;
  margin-top: 2px;
  font-size: 15px;
}

.footer menu ul li a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-weight: bold;
  transition: 0.4s ease;
}

.footer-menu ul li a:hover {
  color: darkgreen;
}
