

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
}

.logo {
  color: darkgreen;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: context-menu;
}

span {
  color: orangered;
}

img {
  width: 100%;
  height:100vh;
}

.container-main {
  margin: auto;
  height: auto;
}

h1 {
  text-align: center;
  padding-top: 20px;
  margin-right: 50px;
  margin-bottom: -30px;
}

form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 80%;
  padding: 7px;
  padding-right: 80%;
  padding-left: 40px;
  border: 1px solid grey;
  border-radius: 15px;
  outline: none;
}

.btn {
  margin-top: 15px;
  width: 80%;
  border-radius: 15px;
}

.btn a {
  color: white;
}

.logInbox a {
  text-decoration: none;
  color: darkgreen;
}

p {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 767px) {
  /* body {
    background-color: #181a1b;
  } */
  
img {
  width: 100%;
  height:auto;
}
  form {
    width: 90%;
  }

  .form-control,
  .btn {
    width: 100%;
  }
}


