body {
    width: 100%;
    height: 400px;
    font-family: Arial, sans-serif;
    background: url(/images/dan-meyers\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
 }

 li{
   list-style: none;
 }

 .container-fluid{
    width: 100%;
    min-height: auto;
 }

 .logo {
    color: darkgreen;
    font-weight: bold;
    font-size: 30px;
   
   
 }

 span {
   color: orangered;
  
 }

 .menu {
   float: left;
   height: 40px;
}

ul{
   float: left;
   display: flex;
}

ul li{
   margin-left: 70px;
   margin-top: 20px;
   font-size: 15px;

}

ul li a{
   text-decoration: none;
   color:black;
   font-family: cursive;
   font-weight: bold;
   transition: 0.4s ease;
}

ul li a:hover{
   color: orangered;
}


 .button {
    margin-right: 20px;
 }

 .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: darkgreen;
 }

 .content h1 {
    font-size: 65px;
    margin-top: 80px;
    font-family: 'Times New Roman';
    color: black;
    font-weight: bold;

 }

 .content p {
    margin: 20px;
    font-family: cursive;
    font-weight: bold;
    line-height: 25px;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
 }

 .btn-btn{
   width: 100px;
   height: 50px;
   border-radius: 15px;
   font-size: 15px;
   font-weight: bold;
   color: white;
   background-color: darkgreen;
   transition: 0.4s ease;
   border: none;
 }

 .btn-btn:hover{
   background: orangered;
 }
