body {
  width: 100%;
  height: 800px;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.container-fluid {
  width: 100%;
  min-height: auto;
}

.logo {
  color: darkgreen;
  font-weight: bold;
  font-size: 30px;
}

span {
  color: orangered;
}

.menu {
  height: 40px;
}

ul {
  float: left;
  display: flex;
}

ul li {
  margin-left: 70px;
  margin-top: 20px;
  font-size: 15px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-weight: bold;
  transition: 0.4s ease;
}

ul li a:hover {
  color: orangered;
}

.button {
  margin-right: 20px;
}

.container-fluid {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.header {
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}



p {
  font-size: 18px;
}

#container-fluid {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  background-color: antiquewhite;
  margin-bottom: 50px;
}

.container h2 {
  font-weight: bold;
}
.container p {
  font-size: 18px;
}
/* 
.footer {
  margin-top: 15px;
  border-top: 15px;
  background:black;
  color: white;
} */

#farm {
  margin-top: 20px;
  background-color: black;
  color: white;
}

.farm {
  color: darkgreen;
  margin-bottom: 12px;
}

h4 {
  color: orangered;
  font-size: 18px;
  font-weight: bold;
  padding-top: 50px;
}

.header-title {
  padding-left: 40px;
}

#phone {
  padding-left: 40px;
}

.icons {
  margin-bottom: 12px;
}

.icons a {
  text-decoration: none;
}

.icons a i {
  padding-left: 20px;
  margin-top: 40px;
  cursor: pointer;
}

ol li {
  margin-top: 15px;
  cursor: pointer;
}

ol li:hover {
  color: blue;
}
#cf img{
  border-radius: 15px;
}

@media (max-width: 767px) {
  body {
    background-color: #181a1b;
  }
  .logo {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
    margin-top: 30px;
    
  }

  h2 {
    color: black;
    font-weight: bold;
  }

  .header{
    font-size: 32px;
  }

  .header, h2{
    margin-bottom: -8px;
  }

  .container-fluid p{
    color: white;
  }

  #container-fluid h2{
    color: darkgreen;
    margin-bottom: 16px;
  }

  #container-fluid #HTWO{
    color: orangered;
  }
  ul li {
    margin-left: 20px;
  }

  .centered {
    top: 50%;
    font-size: 14px;
  }
  /* col text-center */
  .container div  {
    background-color: rgb(69, 43, 9);
  }

  .container h2{
    color:orangered;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .container p {
    font-size: 16px;
    color: black;
    font-weight: bold;
   
  }

  .icons a i {
    padding-left: 10px;
    margin-top: 20px;
  }

  ol li {
    margin-top: 10px;
  }
  #P {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: none;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8%;
  }
  #H {
    margin-top: 78px;
  }

  .container {
    background-color: antiquewhite;
    margin-bottom: 30px;
  }

  #cf {
    margin-top: 10px;
  }

  #cf img {
    border-radius: 15%;
  }
}
